{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}institution_delete{% endblock %}
{% block header %} Eliminar Institución {% endblock %}
{% block cuerpo %}
<div id="confirm-message" class="modal-body">
    ¿Estás seguro de que deseas eliminar esta institución? Esta acción no puede deshacerse.
</div>
{% endblock %}
{% block footer %}

<form id="delete-form" method="POST" action="{{ url_for('super.delete_institution') }}">
    <input id="institution_id" type="hidden" name="institution_id" value="">
    <button id="confirm-action" type="submit" class="btn btn-primary confirm-button"> Confirmar
    </button>

    <button id="dismiss-action" type="button" class="btn btn-secondary close-button"
            data-dismiss="modal"> Cerrar </button>
</form>
{% endblock %}