/* Reset some default styles */
body, h1, h2, ul, li, p {
    margin: 0;
    padding: 0;
}

/* Style the navigation bar */
header {
    background-color: #ff69b4;
    color: white;
    padding: 10px 0;
}


#catalogo{
    margin-left: 10%;
    width: 80%;
    background-color: aqua;
    text-align: center;
}

#catalogo h2{
    text-align: right;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Style the dropdown */
select {
    margin-left: 10px;
}

/* Style the image gallery */
#imageGallery {
    text-align: center;
}

.imagen {
    background-color: white;
    border: 1px dotted #ff69b4;
    padding: 10px;
    margin: 10px;
}

/* Style the contact form */
form {
    margin: 20px;
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

/* Style the "Sobre Nosotros" section */
#nosotros {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #ff69b4;
    color: white;
    text-align: center;
    padding: 20px;
}
