/* generales */
html {
	font-family: "Courier New", Courier, monospace;
}

h1 {
	text-align: center;
	font-size: 3rem;
}


p {
	text-align: left;
	font-size: 1rem;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	word-wrap: break-word; 
	overflow-wrap: break-word;
}

i {
	font-size: 1.4em;
}

ul {
	list-style: none;
  }

/* layout */
#main {
	min-height: 85vh;
}
.logo {
	max-height: 50px;
}
.logo-grande {
	width: auto;
	max-height: 80px;
}

.card-login {
	background-color: rgba(255, 255, 255, 0.764);
	padding: 20px;
	border-radius: 5px;
	height: 100%;
	max-width: 600px;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.card-login {
		max-width: 400px;
		padding-bottom: 10px;
	}
}
	
#loginForm {
	height: 100%;
	flex-direction: column;
}

.form-group-login {
	text-align: left;
	padding-bottom: 15px;
}

.close-icon {
    float: right;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    margin-right: 5px;
    margin-top: 3px;
}

.list-group-item span {
    font-size: 1rem;
}

.modal-scrollable {
    max-height: 60vh;
    overflow-y: auto;
}

.custom-divider {
  text-align: center;
  margin: 20px 0; /* Espacio entre los párrafos */
  position: relative;
}

.custom-divider::before,
.custom-divider::after {
  content: "";
  display: inline-block;
  width: 40%; /* Ajusta el ancho de las líneas */
  border-top: 1px solid rgb(163, 162, 162);
}