{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}user_edit{% endblock %}
<!-- Acá iría el nombre del usuario -->
{% block header %} Editar usuario {% endblock %}
{% block cuerpo %}
<!-- Acá iría todo el HTML correspondiente a la edición del usuario -->
<div id="confirm-message" class="modal-body modal-scrollable">
    <div class="col">
        <form id="edit-form" method="POST" action="">
            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" value="1" id="inputActive" name="inputActive">
                <label class="form-check-label" for="inputActive">
                    ¿Usuario Activo?
                </label>
            </div>

            <div class="form-group">
                <label for="inputEmail"> Dirección de email *</label>
                <input required type="email" class="form-control" id="inputEmail" name="inputEmail"
                       placeholder="nombre@ejemplo.com"
                       onblur="validateEmail('inputEmail', 'emailError'); allFieldsValid()"
                       aria-describedby="emailError" />
                <small id="emailError" class="form-text text-danger"></small>
            </div>
            <div class="form-group">
                <label for="inputName"> Nombre *</label>
                <input required type="text" class="form-control" id="inputName" name="inputName"
                       placeholder="John" onblur="validateJustText('inputName', 'nameError'); allFieldsValid()"
                       aria-describedby="nameError" />
                <small id="nameError" class="form-text text-danger"></small>
            </div>
            <div class="form-group">
                <label for="inputSurname"> Apellido *</label>
                <input required type="text" class="form-control" id="inputSurname"
                       name="inputSurname" placeholder="Doe"
                       onblur="validateJustText('inputSurname', 'surnameError'); allFieldsValid()"
                       aria-describedby="surnameError" />
                <small id="surnameError" class="form-text text-danger"></small>
            </div>
            <div class="form-group">
                <label for="inputUsername"> Nombre de usuario *</label>
                <input required type="text" class="form-control" id="inputUsername"
                       name="inputUsername" placeholder="johndoe"
                       onblur="validateUsername('inputUsername', 'usernameError'); allFieldsValid()"
                       aria-describedby="usernameError" />
                <small id="usernameError" class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="inputDocumentType">Tipo de Documento *</label>
                <select onblur="allFieldsValid()" required class="form-control" id="inputDocumentType" name="inputDocumentType">
                    <option value="" disabled selected>Seleccionar un tipo de Documento</option>
                    <option value="DNI">DNI</option>
                    <option value="Pasaporte">Pasaporte</option>
                </select>
            </div>

            <div class="form-group">
                <label for="inputDocument">Número de Documento *</label>
                <input required type="text" class="form-control" id="inputDocument" name="inputDocument"
                       placeholder="12345678"
                       onblur="validateJustNumber('inputDocument', 'documentError'); allFieldsValid()"
                       aria-describedby="documentError">
                <small id="documentError" class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="inputGender">Género *</label>
                <select onblur="allFieldsValid()" class="form-control" id="inputGender" name="inputGender">
                    <option value="" disabled selected>Seleccionar un Género</option>
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                    <option value="No binario">No binario</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputAddress">Dirección *</label>
                <input required type="text" class="form-control" id="inputAddress" name="inputAddress"
                       onblur="validateDireccion('inputAddress', 'addressError'); allFieldsValid()"
                       aria-describedby="addressError">
                <small id="addressError" class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="inputPhoneNumber">Número de teléfono *</label>
                <input required type="text" class="form-control" id="inputPhoneNumber"
                       name="inputPhoneNumber"
                       onblur="validatePhoneNumber('inputPhoneNumber', 'phoneNumberError'); allFieldsValid()"
                       aria-describedby="phoneNumberError">
                <small id="phoneNumberError" class="form-text text-danger"></small>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<button type="submit" form="edit-form" class="btn btn-primary"> 
    Confirmar
</button>

<button type="button" class="btn btn-secondary close-button" data-dismiss="modal">
    Cerrar 
</button>
{% endblock %}