{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}institution_edit{% endblock %}
{% block header %} Editar institución {% endblock %}
{% block cuerpo %}
<!-- Acá iría todo el HTML correspondiente a la edición de la institución -->
<div id="confirm-message" class="modal-body">
    Modal body text goes here.
</div>
{% endblock %}
{% block footer %}
<button type="button" class="btn btn-primary confirm-button"> Confirmar
</button>

<button type="button" class="btn btn-secondary close-button" data-dismiss="modal"> Cerrar </button>
{% endblock %}