{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}institution_view{% endblock %}
<!-- Acá iría el nombre de la institución -->
{% block header %} Ver institución {% endblock %}
{% block cuerpo %}
<!-- Acá iría todo el HTML correspondiente a la vista de la institución -->
<div id="confirm-message" class="modal-body">
    hola acaa estoy
</div>
{% endblock %}
{% block footer %}
<button id="close-view-institution" type="button" class="btn btn-secondary close-button"
        data-dismiss="modal">
    Cerrar </button>
{% endblock %}