{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}user_view{% endblock %}
<!-- Acá iría el nombre del usuario -->
{% block header %} Ver usuario {% endblock %}
{% block cuerpo %}
<!-- Acá iría todo el HTML correspondiente a la vista del usuario -->
<div id="confirm-message" class="modal-body">
    Modal body text goes here.
</div>
{% endblock %}
{% block footer %}
<button type="button" class="btn btn-secondary close-button" data-dismiss="modal">
    Cerrar </button>
{% endblock %}