<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link 
        rel="stylesheet"
        href="{{ url_for('static', filename = 'style.css') }}" />
    <title>{% block title %} {% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <div id="navbar">{% block navbar %} {% endblock %}</div>
    <div id="main">
        {% with messages = get_flashed_messages(with_categories = true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flash {{category}}">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div id="footer">{% block footer %} {% endblock %}</div>
  </body>
</html>