<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between sticky-top">
	<a class="navbar-brand" href="/">
		<img src="../../../../static/assets/logo-completo.png" alt="CIDEPINT" class="img-fluid logo d-none d-md-inline" />
		<img src="../../../../static/assets/logo.png" alt="CIDEPINT" class="img-fluid logo d-md-none d-inline" />
	</a>
	<div class="navbar" id="navbarNav">
		<ul class="navbar-nav align-items-center">
			<div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdown-instituciones" data-toggle="dropdown" aria-expanded="false">
                    <i class="bi bi-bank2"></i> 
                    <span class="ml-2 d-none d-sm-inline">Instituciones</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdown-instituciones">
                    <li><a class="dropdown-item" href="instituciones/instucion1">Institución 1</a></li>
                    <li><a class="dropdown-item" href="instituciones/institucion2">Institución 2</a></li>
                </ul>
            </div>
            
			<li class="nav-item">
				<a class="nav-link" href="seguimiento">
					<div class="d-flex align-items-center">
						<i class="bi bi-truck"></i>
						<p class="mb-0 ml-2 d-none d-sm-inline">Seguimiento</p>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="configuracion">
					<div class="d-flex align-items-center">
						<i class="bi bi-gear"></i>
						<p class="mb-0 ml-2 d-none d-sm-inline">Configuración</p>
					</div>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="user/<int:user_id>">
					<div class="d-flex align-items-center">
						<i class="bi bi-person-circle"></i>
						<p class="mb-0 ml-2 d-none d-sm-inline">Cuenta</p>
					</div>
				</a>
			</li>
		</ul>
	</div>
</nav>
