<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% for page_num in elements.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                    {% if page_num == elements.page %}
                        <a class="btn btn-info mb-4" href="{{ url_for(request.endpoint, page=page_num) }}">{{ page_num }}</a>
                    {% else %}
                        <a class="btn btn-outline-info mb-4" href="{{ url_for(request.endpoint, page=page_num) }}">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
