.container {
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-size: 1rem;
    color: #333;
}

.back-button {
    margin-top: 10%;
    text-align: center;
}

.back-button a {
    text-decoration: none;
    background-color: #d322ff;
    color: #fff;
    padding: 0.5rem 2rem;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.back-button a:hover {
    background-color: #333;
}