<small class="mt-2">{{ element.email }}</small>
<form method="POST" action=""
      class="mr-1 row justify-content-end align-items-center flex-row pt-2 pt-md-0">
    <select class="form-control mr-2 w-50" id="inputRole" name="inputRole">
        <option value="" disabled> Rol</option>
        {% for role in roles %}
        <option {% if role.id==element.role.id %} selected {% endif %} value="{{ role.id }}">
            {{
            role.name }}</option>
        {% endfor %}
    </select>
    <button id="addRoleButton" type="submit" class="btn btn-primary ml-2">Agregar</button>
</form>