{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}request_view{% endblock %}
<!-- Acá iría el nombre del usuario -->
{% block header %} Ver Solicitud de Servicio {% endblock %}
{% block cuerpo %}
<!-- Acá iría todo el HTML correspondiente a la vista del usuario -->
<div id="confirm-message" class="modal-body modal-scrollable">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h6> Título </h6>
            </div>
            <div class="col-sm">
                <p id="request-title"> placeholder </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6> Descripción </h6>
            </div>
            <div class="col-sm">
                <p id="request-description"> placeholder </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6> Observaciones </h6>
            </div>
            <div class="col-sm">
                <p id="request-observations"> placeholder </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6> Estado de la petición </h6>
            </div>
            <div class="col-sm">
                <p id="request-status"> placeholder </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6> Fecha de la petición </h6>
            </div>
            <div class="col-sm">
                <p id="request-inserted_at"> placeholder </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6> Fecha cierre de la petición </h6>
            </div>
            <div class="col-sm">
                <p id="request-closed_at"> placeholder </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6> Servicio </h6>
            </div>
            <div class="col-sm">
                <p id="request-service"> placeholder </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h6> Solicitante </h6>
            </div>
            <div class="col-sm">
                <p id="request-requester"> placeholder </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}
{% block footer %}
    {% if permissions.update %}
        <button type="button" class="btn btn-outline-info edit-button"
                id="edit-button"
                onclick="changeStatusServiceRequest(this)">
                Editar
        </button>
    {% endif %}
    <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">
        Cerrar 
    </button>
{% endblock %}