{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}request_edit{% endblock %}
<!-- Acá iría el nombre del usuario -->
{% block header %} Cambiar Estado de la Solicitud{% endblock %}
{% block cuerpo %}
<!-- Acá iría todo el HTML correspondiente a la edición del usuario -->
<div id="confirm-message" class="modal-body modal-scrollable">
    <div class="col">
        <form id="edit-form" method="POST">
            <div class="form-group">
                <label for="inputStatus">Estado de la Solicitud</label>
                <select class="form-control" id="inputStatus" name="inputStatus">
                    <option value="Aceptada">Aceptada</option>
                    <option value="Rechazada">Rechazada</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="Cancelada">Cancelada</option>
                </select>
                <div class="p-2 text-primary-emphasis bg-light border border-secondary-subtle rounded-3">
                    <small>Ante un cambio en el estado de la solicitud se actualizará la fecha de cambio.</small>               
                </div>
            </div>
            <div class="form-group">
                <label for="inputObservations"> Observaciones </label>
                <input required type="text" class="form-control" id="inputObservations"
                       name="inputObservations" placeholder="Observaciones" />
            </div>
            <button type="submit" class="btn btn-primary"> Guardar Cambios
            </button>

            <button type="button" class="btn btn-secondary close-button" data-dismiss="modal">
                Cerrar </button>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}

{% endblock %}