{% extends "layout.html" %} 
{% block title %} Perfil {% endblock %} 
{% block head %} 
    {{ super() }}
    <style>
        @media (max-width: 768px) {
            .btn-primary {
                margin-bottom: 10px;
            }
        }
        p.card-text {
            padding: 5px;
            margin-bottom: 0;
        }
        .border-light-grey {
            border: 1px solid #ccc;
        }
    </style>
{% endblock %} 
{% block content %}
<div class="row justify-content-center" style="margin: 20px;">
    <div class="col-lg-8">
        <div class="card bg-light mb-4 p-3">
            <h3 class="text-center">Mi Perfil</h3>
            <hr>
            <div class="row">
                <div class="col-md-6 mb-0">
                    <p class="card-text"><i class="bi bi-person-fill"></i> Nombre:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.first_name }}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <p class="card-text"><i class="bi bi-person-fill"></i> Apellido:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.last_name }}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <p class="card-text text-wrap"><i class="bi bi-envelope-fill"></i> Email:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.email }}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <p class="card-text"><i class="bi bi-person-fill"></i> Nombre de usuario:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.username }}</p>
                    </div>
                </div>
                <div class="col-md-12 align-center">
                    <p class="card-text"><i class="bi bi-geo-fill"></i> Direcci&oacute;n:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.address }}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <p class="card-text"><i class="bi bi-telephone-fill"></i> Tel&eacute;fono:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.phone_number }}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <p class="card-text"><i class="bi bi-person-fill"></i> Tipo de documento:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.document_type.name.capitalize() }}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <p class="card-text"><i class="bi bi-file-earmark-text-fill"></i> Documento:</p>
                    <div class="card rounded-3 border-light-grey ">
                        <p class="card-text">{{ user.document }}</p>
                    </div>
                </div>
                <div class="col-md-6 mb-0">
                    <p class="card-text"><i class="bi bi-person-fill"></i> Género:</p>
                    <div class="card rounded-4 border-light-grey ">
                        <p class="card-text">{{ user.gender.name.capitalize() }}</p>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a href="{{ url_for('user.edit_profile') }}" class="card-link">
                    <button type="button" class="btn btn-primary close-button mt-3">
                        Editar perfil
                    </button>
                </a>
                <a href="{{ url_for('user.change_password') }}" class="card-link">
                    <button type="button" class="btn btn-primary close-button mt-3">
                        Cambiar Contraseña
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}