{% extends "/components/modals/modal_template.html" %}
{% block modal_id %}service_edit{% endblock %}
<!-- Acá iría el nombre del usuario -->
{% block header %} Editar Servicio {% endblock %}
{% block cuerpo %}
<!-- Acá iría todo el HTML correspondiente a la edición del usuario -->
<div id="confirm-message" class="modal-body modal-scrollable">
    <div class="col">
        <form id="edit-form" method="POST">
            <div class="form-group">
                <label for="inputName"> Nombre *</label>
                <input required type="text" class="form-control" id="inputName" name="inputName" onblur="allFieldsValid()"
                       placeholder="Nombre" />
            </div>
            <div class="form-group">
                <label for="inputDescription"> Descripción *</label>
                <input required type="text" class="form-control" id="inputDescription" onblur="allFieldsValid()"
                       name="inputDescription" placeholder="Descripción" />
            </div>
            <div class="form-group">
                <label for="inputKeywords"> Palabras clave *</label>
                <input required type="text" class="form-control" id="inputEditKeywords" name="inputKeywords"
                       placeholder="palabras separadas por coma"
                       onblur="validateKeywords('inputEditKeywords', 'keywordsErrors'); allFieldsValid()"
                       aria-describedby="keywordsErrors" />
                <small id="keywordsErrors" class="form-text text-danger"></small>
            </div>

            <div class="form-group">
                <label for="inputServiceType2">Tipo de Servicio</label>
                <select required onblur="allFieldsValid()" class="form-control" id="inputServiceType2" name="inputServiceType2">
                    <option value="" disabled selected> Seleccionar un tipo de servicio *</option>
                    <option value="Análisis">Análisis</option>
                    <option value="Consultoría">Consultoría</option>
                    <option value="Desarrollo">Desarrollo</option>
                </select>
            </div>

            <div class="form-group form-check">
                <input class="form-check-input" type="checkbox" id="inputEnabled2"
                       name="inputEnabled2">
                <label class="form-check-label" for="inputEnabled2">
                    ¿Servicio Habilitado?
                </label>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block footer %}
<button type="submit" form="edit-form" class="btn btn-primary"> 
    Guardar Cambios
</button>

<button type="button" class="btn btn-secondary close-button" data-dismiss="modal">
    Cerrar 
</button>

{% endblock %}