<div>
        <button type="button" class="btn btn-outline-primary view-button"
                onclick="{{ view_function }}"
                data-element="{{ parse_service(element) }}">Ver</button>

        <button type="button" class="btn btn-outline-info edit-button"
                data-element="{{ parse_service(element) }}"
                onclick=" {{ edit_function }}">Editar</button>

        <button type="button" onclick="{{ delete_function }}"
                data-element="{{ parse_service(element) }}"
                class="btn btn-outline-danger">Eliminar</button>
</div>