<div>
        {% if permissions.show %}
        <button type="button" class="btn btn-outline-primary view-button"
                onclick="viewService(this)"
                data-element="{{ parse_service(element) }}"
                data-url="{{ url_for('services.edit_service', service_id=element['id'])}}">Ver</button>
        {% endif %}
        <a href="{{ url_for('services.service_requests', service_id=element['id']) }}" 
        class="btn btn-outline-secondary text-decoration-none">
                Solicitudes
        </a>
        {% if permissions.destroy %}
        <button type="button" onclick="deleteService(this)"
                data-element="{{ parse_service(element) }}"
                class="btn btn-outline-danger">Eliminar</button>
        {% endif %}
</div>