<div class="mx-1 row justify-content-between align-items-center flex-column flex-sm-row ">
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Filtros
    </a>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <form action= "{{ url_for('service_requests.service_requests') }}" method="get" class="form-inline mb-4 align-items-center flex-column flex-sm-row">
                <select id="service-type" name="service-type" class="form-control mr-sm-3">
                    <option value="" disabled selected>Tipo de Servicio</option>
                    <option value="Análisis">Análisis</option>
                    <option value="Consultoría">Consultoría</option>
                    <option value="Desarrollo">Desarrollo</option>
                </select>
    
                <select id="request-status" name="request-status" class="form-control mr-sm-3">
                    <option value="" disabled selected>Estado de la Solicitud</option>
                    <option value="Aceptada">Aceptada</option>
                    <option value="Rechazada">Rechazada</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Finalizada">Finalizada</option>
                    <option value="Cancelada">Cancelada</option>
                </select>
    
                <label for="start-date" class="mr-2">Desde:</label>
                <input id="start-date" name="start-date" class="form-control mr-2" type="date">
                <label for="end-date" class="mr-2">Hasta:</label>
                <input id="end-date" name="end-date" class="form-control mr-sm-3" type="date">
            
                <input id="request-email" name="request-email" class="form-control mr-3" type="text" placeholder="Ingrese un email">
                <button id="search-button" class="btn btn-primary my-2 my-sm-0" type="submit">Filtrar</button>
            </form>
        </div>
        </div>
</div>