<div>
        {% if permissions.show %}
        <button type="button" class="btn btn-outline-primary view-button"
                onclick= "viewServiceRequest(this)" 
                data-element="{{ parse_service_request(element) }}"
                data-url="{{ url_for('service_requests.edit_service_request', service_request_id=element['id']) }}">
                Ver
        </button>
        {% endif %}

        {% if permissions.update %}
        <a href="{{ url_for('service_requests.notes', service_request_id=element['id']) }}"
        class="btn btn-outline-secondary text-decoration-none">Notas</a>
        {% endif %}

        {% if permissions.destroy %}
        <button type="button" onclick="deleteServiceRequest(this)"
                data-element="{{ parse_service_request(element) }}"
                class="btn btn-outline-danger">Eliminar</button>
        {% endif %}
</div>